<div class="navbar bg-base-100 shadow-sm">
  <div class="w-full flex flex-row px-2">
    <div class="flex-1">
      <div class="flex flex-row gap-4 items-center">
        <a class="btn btn-ghost text-xl" href="/">First Note</a>
        <div class="flex flex-row gap-2">
          {{!-- <button class="btn" id="user-mnt">User Management</button> --}}
        </div>
      </div>
    </div>
    <div id="auth-guest" class="flex flex-row gap-2 invisible">
      <a class="btn" href="/register">Register</a>
      <a class="btn" href="/login">Login</a>
    </div>

    <div id="auth-user" class="flex flex-row gap-2 items-center hidden invisible">
      <button type="button" class="btn" id="btn-add-note" data-modal="add_note_modal">Add Note</button>
      <button id="btn-logout" class="btn btn-outline btn-error">Logout</button>
    </div>
  </div>
</div>

{{>add-note-modal}}
