<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{title}} - App Note</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="/css/app.css" />
  <link rel="stylesheet" href="/css/animate.min.css" />
  <link rel="stylesheet" href="/css/notyf.min.css" />

  <script src="/javascript/notyf.min.js" defer></script>
  <script src="/javascript/app.js" defer></script>
  <script src="/javascript/components/modal.js" defer></script>
  <script src="/javascript/components/navbar.js" defer></script>
  <script src="/javascript/components/update-modal.js" defer></script>

  {{#if pageScripts}}
  {{#each pageScripts}}
  <script src="{{this}}" defer></script>
  {{/each}}
  {{/if}}
</head>

<body class="min-h-screen bg-gray-100">
  {{#unless hideNavbar}}
  {{> navbar}}
  {{/unless}}
  <main class="max-w-7xl mx-auto p-4">
    {{{body}}}
  </main>
</body>
</html>